@import './scss//colors';
@import './scss/home';
@import './scss/product';
@import './scss/products';
@import './scss/car';

* {
  margin: 0;
  padding: 0;
}


.app-container {
  margin-top: 80px;
  width: 100%;
}