
.car-container {
  background-color: #fff;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1200;
  height: 100vh;
  left: 0;
  display: block;
  color: $color-text;

  .carcontent {
    width: 100%;
    height: 100vh;
    padding: #fff;
    position: absolute;
    right: 0;
    transition: transform 0.5s ease-in-out;

    @media only screen and (min-width: 992px) {
      width: 35%;
      
    }

    .carclose {
      width: 100%;
      margin: 20px 0;
      text-align: center;
    }

    .carcontenttitle {
      width: 100%;
      margin: 20px 0;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
    }
  }
}