
.home-container {
  width: 100%;

  .homesearch {
    width: 80%;
    margin: 20% 10%;

    .homesearchtitle {
      margin: 20px 0;
      font-size: 30px;
      font-weight: bold;
      text-align: center;
    }
  }
}