
.products-container {
  width: 100%;
  position: relative;
  

  .productsitems {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .skeletonlist {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

}

